# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Node
node_modules/
build/

# OS
.DS_Store

# Data / models
# ml-models/*.h5  <- Kept commented out to track your final model

# Ignore generated dataset folders using their full path
ml_models/disease_detection/data/train/
ml_models/disease_detection/data/validate/
ml_models/disease_detection/data/test/
# Ignore raw dataset
ml_models/disease_detection/data/raw/